$font-color: #94a3b8;
$font-color-light: #e9f0fb;

.left_side,
.right_side {
  padding-top: 120px;
}

.head_component {
  p {
    max-width: 280px;
  }
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .social {
    padding-top: 120px;

    a {
      margin-right: 15px;

      svg {
        font-size: 20px;
      }
    }
  }
}

.navs {
  margin-top: 80px;
  a {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    color: $font-color;
    position: relative;
    padding-left: 40px;
    transition: 0.5s;

    &::before {
      position: absolute;
      top: 11px;
      left: 0;
      content: "";
      height: 1px;
      width: 25px;
      background: $font-color;
      transition: 0.5s;
    }

    &.active,
    &:hover {
      color: $font-color-light;
      padding-left: 80px;

      &::before {
        width: 60px;
        background: $font-color-light;
      }
    }
  }
}

.about {
  p {
    a {
      color: $font-color-light;
    }
  }
}

.experience {
  padding: 60px 0;

  &_card {
    padding: 40px 20px;
    transition: 0.5s;
    border-radius: 5px;
    border: 1px solid transparent;
    position: relative;

    &:hover {
      background: rgba(58, 54, 54, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }

    h3 {
      margin-bottom: 5px;
    }

    &_date {
      img {
        width: 100%;
      }
    }

    &_tags {
      display: flex;
      flex-wrap: wrap;

      span {
        border: 1px solid #4ccd99;
        padding: 4px 10px;
        margin: 0px 10px 10px 0;
        border-radius: 50px;
        font-size: 12px;
        color: #4ccd99;
        background-color: #007f7325;
        font-weight: 600;
      }
    }
  }
}

.project {
  padding: 60px 0;
}
